.card {
  background-color: darkgray;
  padding: 95px;
  text-align: center;
  margin: 40px;
  font-size: 30px;
}
.card:hover {
  background-color: grey;
  color: white;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: green;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
